<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="./libs/jquery.min.js"></script>
    <!-- build:js ./angular.min.js -->
    <script type="text/javascript" src="./libs/angular.min.js"></script>
    <script type="text/javascript" src="./libs/angular-route.min.js"></script>
    <!-- endbulid -->
    <script type="text/javascript" src="./scripts/controllers.js"></script>
    <script type="text/javascript" src="./scripts/index.js"></script>
</head>
<body>
    <div class="warpper">
        <!-- 顶部logo和播放按钮 -->
        <div class="top clearfix">
            <div class="logo">ltp'page</div>
            <div class="music music-play">
                <audio src="./audio/bgm.mp3" autoplay loop></audio>
            </div>
        </div>
        <!-- 导航栏 -->
        <div class="nav clearfix" ng-controller="NavController">
            <ul>
                <li ng-repeat="tab in tabs" ng-click="show()">
                    <a ng-href="{{tab.url}}" class="{{tab.icon}}">
                        <span>{{tab.content}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 主体 -->
        <div class="body">
            <div class="book">
                <div ng-view></div>
            </div>
        </div>
        <div class="footer">
            <div class="concat">
                <p>Thank you!</p>
            </div>
            <div class="backTop icon-shift"></div>
        </div>
    </div>
</body>
</html>